        <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" href="public/css/smvc.css" />
            <meta name="viewport" content="width=device-width, initial-scale=1"/>

            <link rel="stylesheet" type="text/css" href="css/estilos.css"/>
          <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
            <meta>
           <meta name="viewport" content="width=device-width,initial-scale=1"/>
        </head>
        <body>
          <div class = "usuario">Iniciar sesion / <a href="/registrar">Registrarse</a></div>

          <header>
       <center><a href="/"><img class="logo" src="img/logo.png"/></a></center>
          </header>

            <center>
        <nav>
            <ul>

                <li><a href="index.php?page=home"><span class=""></span>Inicio</a></li>
                <li><a href="Eventos.html"><span class=""></span>Eventos</a></li>
                <li><a href="paquetes.html"><span class=""></i></span>Paquetes</a></li>
                <li><a href="contactos.html"><span class=""></i></span>Contactos</a></li>
                <li><a href="index.php"><span class=""></i></span>Catalogo</a></li>
                <li><a href="Galeria.html"><span class=""></i></span>Galeria</a></li>
            </ul>
        </nav>
    </center>
    <!--  <ul class="menu">
      <li><a href="index.php?page=categorias">Categorias</a></li>
        {{{page_content}}}
    </ul>-->
    {{{body}}}
            <div class="footer">
              Todos los derechos Reservados 2015
            </div>
        </body>
