<form method="POST" action="/datosregistro">
  <label>Nombre</label><input type="text" name="txtUserName" value="{{txtUserName}}"/>

  <label>Confirme Contraseña</label><input type="password" name="txtPass" value="{{txtPass}}"/>
    <br>
    <input type="submit" name="btnRegister" value="Regístrate" />
</form>
